.cimg{

    background-color: blanchedalmond;
    
}

.logoo {
    max-width: 60px;
    height: 60px;
}
.m-3{

    margin-left: 20px;
    background-color: beige;
}
img{
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
   

}